body {
  padding: 20px;
  background-color: #fff;
  max-width: 960px;
  box-sizing: border-box;
}

main {
  padding: 20px 0
}

.nav-link {
  font-size: 22px;
  font-weight: 500;
  color: #1677ff;
  text-decoration: inherit;
  border-radius: 4px;
  padding: 8px;
}

.nav-link:hover,
.nav-link.active {
  color: #fff;
  background-color: #1677ff;
}

nav .ant-space-item:not(:last-child) > a::after {
  content: '|';
  padding-left: 22px;
  position: absolute;
  color: #1677ff;
}

h1 {
  font-size: 42px !important;
}

h4 {
  font-size: 32px !important;
}

li, td, th {
  font-size: 22px !important;
}
